@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-foreground;
  color: inherit;
  background: inherit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
